{% extends "layout.html" %}

{% block title %}
    Reply
{% endblock %}

{% block main %}
    <form action="/message" method="post">
        <div class="mb-3">
            <label>Work Order ID:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="workorderid" name="workorder_id" placeholder="Work Order#" type="text" value="{{ message_detail.workorder_id }}">
        </div>
        <div class="mb-3">
            <label>Apartment:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="apt" name="apt" placeholder="Apt#" type="number" min="1" max="20" value="{{ message_detail.apt }}">
        </div>
        <div class="mb-3">
            <label>From:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="sender" placeholder="Username" type="text" value="{{ message_detail.recipient }}">
        </div>
        <div class="mb-3">
            <label>To:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="recipient" name="recipient" placeholder="Recipient" type="text" value="{{ message_detail.sender }}">
        </div>
        <div class="mb-3">
            <label>Subject:</label>
            <input class="form-control mx-auto w-auto" id="subject" name="subject" placeholder="Subject" type="text" value="{{ message_detail.subject }}">
        </div>
        <div class="mb-3">
            <textarea name="body"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Reply</button>
    </form>
{% endblock %}