{% extends "layout.html" %}

{% block title %}
    Inbox
{% endblock %}

{% block main %}

<h3>Work Order#: {{ message_detail.workorder_id }}</h3>
<h4>Apt#: {{ message_detail.apt }}</h4>
<div class="center-div">
   <div class="list-group-item view-message">
      <strong>Sender: </strong> {{ message_detail.sender }}
   </div>
   <div class="list-group-item view-message">
      <strong>To: </strong> {{ message_detail.recipient }}
   </div>
   <div class="list-group-item view-message">
      <strong>Subject: </strong> {{ message_detail.subject }}
   </div>
   <div class="list-group-item view-message">
      <strong>Timestamp: </strong> {{ message_detail.timestamp }}
   </div>
   <div class="list-group-item view-message">
      <strong>Body: </strong> {{ message_detail.body }}
   </div>
   <div class="my-3">
      <form action="/reply" method="POST">
            <input type="hidden" name="message_id" value="{{ message_detail.id }}">
            <input type="submit" class="btn btn-success" value="Reply">
      </form>
   </div>
   </div>
{% endblock %}