.centered {
    text-align: center;
}

.imgcentered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.textcontainer {
    padding-right: 200px;
    padding-left: 200px;
    margin-right: auto;
    margin-left: auto;
}

.largefont {
    font-size: 100px;
}

.scaleimage {
    width: auto;
    height: 800px;
}